*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  font-size: 62.5%;
}

body {
  background: #17202a;
  color: #fff;
  font-family : cursive;
  overflow: hidden;
}
.colors-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.colors-display > .color-content {
  flex: 1;
  height: 100vh;
}
.color-content .color-codes{
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  align-items: center;
  height: 100%;
}
.color-codes .values{
  transform: translateY(150px);
  font-size: 2rem;
  text-transform: uppercase;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  padding: .8rem 1rem ;
  border-radius: .5rem;
}
.color-codes .hover-text{
  font-size: 1.6rem;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  padding: .5rem 1rem;
  border-radius: .5rem;
 opacity: 0;
 transition: all .5s ease;
}
.color-content:hover .color-codes .hover-text{
  opacity: 1;
}


